*.swp
*.pyc
*.db
.metadata
minezy_api/ui/ui_build/node_modules
minezy_api/ui/ui_build/.sass-cache
minezy_app/ui/ui_build/node_modules
minezy_app/ui/ui_build/.sass-cache
minezy_www/static/node_modules
minezy_www/static/.sass-cache
minezy_www/static/css