<!DOCTYPE html>
<html xml:lang="en" lang="en">

<head>
	<title>minezy</title>
	<meta name="description" content="Big Data, Big Stories. Minezy lets you explore email archives quickly.">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	  <meta name="apple-mobile-web-app-capable" content="yes" />
	  <meta name="format-detection" content="telephone=no">

	<link href="/static/dist/www/core.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="/static/images/www/favicon.ico?v=2" type="image/x-icon">
	<script type="text/javascript" src="/static/js_lib/jquery-1.11.1.min.js"></script>
</head>

<body>
	<!-- used to detect media query change in JS -->
	<div id="mediaQueryChange"></div>

	<div class="siteContainer">

		<div class="banner">prototype</div>

		<header>
			<div class="cover"></div>
			<div class="responsive">
				<div class="hContainer">

					<h1>Minezy</h1>
					<h2>Big Data. Big Stories.</h2>
					<p>How do you find the story in millions of emails? Minezy. Our tool let’s you explore email fast.</p>

					<a href="/app/" class="button"><i class="fa fa-arrow-right left"></i> Try App</a><span> and explore over 500,000 emails from the <a href="https://www.cs.cmu.edu/~./enron/" target="_blank"><span>Enron Email Corpus</span></a></span>

					<p><a href="mailto:info@minezy.com">Contact Us</a> for more information</p>

				</div>
			</div>
		</header>

		<section class="contentContainer">

			<div class="responsive">
				<div class="point">

					<div class="icon right"><div class="circle"><i class="fa fa-search"></i></div></div>
					<div class="copy">
						<h3>Dig</h3>
						<p>Minezy is a tool to explore large email archives. Whether you’re on deadline or a month-long project, Minezy will help you dig deeply and quickly to find and mine.</p>
					</div>

				</div>

				<div class="point">

					<div class="icon"><div class="circle"><i class="fa fa-area-chart"></i></div></div>
					<div class="copy">
						<h3>Analyze</h3>
						<p>Minezy allows you to figure out the five Ws in any email archive, large or small: Who emailed who? When did the emails occur? How often? Who else was involved? What was the subject and content?</p>
					</div>

				</div>

				<div class="point">

					<div class="icon right"><div class="circle"><i class="fa fa-eye"></i></div></div>
					<div class="copy">
						<h3>Focus</h3>
						<p>Minezy helps you get to the most important players, the most important dates, the most important topics fast. It takes the guesswork out of massive email dumps, and helps you find the story.</p>
					</div>

				</div>


		</section>

		<section class="mailinglist">
			<div class="responsive">
				<h2>Want to know more?</h2>
				<p>Sign up to our newsletter or catch us on <a href="http://www.twitter.com/MinezyCrew" target="_blank">Twitter</a>.</p>

				<form id="mc-embedded-subscribe-form" action="http://minezy.us9.list-manage2.com/subscribe?u=4e3a4451f59c4ba0638c4de86&id=b0bb994f50" method="post" target="_blank">

	                <input type="text" name="EMAIL" value="Type your e-mail address here" id="mce-EMAIL">
	                <a href="javascript:;" class="button subtle" id="subscribeButton"><i class="fa fa-thumbs-up"></i> Sign Up</a>

				</form>
			</div>
		</section>


		<footer>
			<div class="responsive">
				<div class="knight">
					<p>with support from:</p>
					<a href="http://www.knightfoundation.org/" target="_blank">Knight Foundation</a>
				</div>

				<div class="social">
					<a href="mailto:info@minezy.com" target="_blank"><i class="fa fa-envelope"></i></a>
					<a href="http://www.twitter.com/MinezyCrew" target="_blank"><i class="fa fa-twitter"></i></a>
				</div>
			</div>
		</footer>

	</div>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-56530119-1', 'auto');
	  ga('send', 'pageview');

	</script>

	<script type="text/javascript" src="/static/dist/www/core.min.js"></script>

	<script type="text/javascript">
		//Boot the site
		var website = new App.Main();
	</script>

</body>
</html>
