
@import "../modules/colours";
@import "../modules/mixins";


body {
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow:hidden;
	background: #e0e0e0;
	color: #363636;
	box-sizing: border-box;
}

strong {
	font-weight: bold;
}

a {
	color:white;
	text-decoration: none;
}


// Setup the MQ JS events, make sure these match your breakpoints.
#mediaQueryDetector {

	width:320px;

	@include respond-to(medium) {
		width:640px;
	}

	@include respond-to(large) {
		width:1024px;
	}

}

.noFlick {
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}

.siteContainer {

}

.contentContainer{
}

#pageContainer {
	overflow: hidden;
}

.banner {
	position: absolute;
	top: 0;
	right: 0;
	width: 117px;
	height: 124px;
	background: url('../images/prototype.png') no-repeat;
	@include hide-text;
	z-index: 10;
}


.responsive {
	max-width: 640px;
	margin:0 auto;

	@include respond-to(medium) {
		max-width:700px;
	}

	@include respond-to(large) {
		max-width:850px;
	}


}

label{
	display: block;
	font-size: 12px;
	line-height: 18px;
}

select {
	height: 32px;
	border: solid 2px #9f9f9f;
	@include appearance(none);
	background: white;
	padding: 7px 10px;
	margin-bottom:5px;
	border-radius: 3px;
	font-weight: 700;
	font-size: 11px;
	background: white url('../images/select_down.png' ) no-repeat 90% center ;
	outline: none;

	&:hover {
		border: solid 2px #20cc90;
	}
}

input[type='text'] {
	height: 32px;
	border: solid 2px #9f9f9f;
	background: white;
	padding: 0px 10px;
	margin-bottom:5px;
	border-radius: 3px;
	font-weight: 700;
	font-size: 11px;
	outline: none;

	&:hover {
		border: solid 2px #20cc90;
	}
}

a.button {
	display: block;
	padding: 5px 10px;
	border: solid 2px #464646;
	border-radius: 3px;
	background: #363636;

	&:hover {
		border: solid 2px #20cc90;
		background: #5f5f5f;
	}

	i {
		font-size: 18px;
		vertical-align: middle;
	}

	&.light {
		border-color: #9f9f9f;
		background: white;
		color: #363636;

		&:hover {
			background: #5f5f5f;
			border: solid 2px #20cc90;
			color: white;
		}

	}

}

div.siteOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	top:0;
	left:0;
	z-index: 100;
	display: none;
}


section.admin {
	width: 400px;
	background: #f0f0f0;
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -200px;
	z-index: 101;
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.5);
	@include transition (top 0.6s ease-in-out);

	&.hide {
		top: -500px;
	}

	h2 {
		@include linear-gradient( to bottom, rgba(64,64,64,1), rgba(34,34,34,1) );
		width: 100%;
		height: 60px;
		color:#20cc90;
		padding: 0 20px;
		position: relative;
		box-sizing: border-box;
		box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
		text-transform: lowercase;
		font-size: 24px;
		line-height: 56px;
		font-weight: 300;
	}

	.settingsContainer {
		padding: 20px;

		.field {
			margin-bottom: 20px;

			select {
				width: 250px;
				background-position: 97.5% center;
			}

			&.disabled {
				opacity: 0.2;
			}

		}

		.fileUpload {
			position: relative;
			overflow: hidden;
			padding: 0px 4px;
			border: solid 2px #646464;
			border-radius: 3px;
			background: #363636;
			width: 100px;
			text-align: center;
			color: white;
			font-size: 14px;
			line-height: 28px;
			display: inline-block;

			i {
				padding-right:8px;
			}
		}
		.fileUpload input.upload {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			font-size: 20px;
			cursor: pointer;
			opacity: 0;
			filter: alpha(opacity=0);
		}

		.filename {
			display: inline-block;
			margin-left: 10px;
			line-height: 32px;
			font-size: 12px;
			vertical-align: top;
			overflow: hidden;
			white-space: nowrap;
			max-width: 228px;

			i {
				padding-right: 4px;
			}
		}

	}

	.buttons {
		width: 100%;
		height: 60px;
		color:#20cc90;
		padding: 0 20px;
		position: relative;
		box-sizing: border-box;
		background: #363636;
		text-align: center;
		padding-top:14px;

		.button {
			display: inline-block;
			width: 120px;
			background-color: #464646;

			&.disabled {
				opacity: 0.2;
			}

			&:hover.disabled {
				border-color: #464646;
			}

			&.ok {
				i {
					color: #20cc90;
				}
			}

			&.cancel {

				i {
					color: red;
				}
			}

			&:hover.cancel {
				border-color:red;
			}

			span {
				padding-left: 4px;
			}

			i {
				vertical-align: initial;
			}
		}
	}

	.closeButton {
		border-radius: 50%;
		border: solid 2px;
		overflow: hidden;
		color: white;
		display: block;
		position: absolute;
		right:20px;
		top:20px;
		width: 17px;
		height: 17px;
		font-size: 14px;
		cursor: pointer;
		background-color: #363636;

		&:hover {
			color: red;
		}

		i {
			line-height: 17px;
			padding-left: 3px;
		}
	}

	.progressBar {
		position: absolute;
		bottom: 60px;
		left:0px;
		height:20px;
		background: #c0c0c0;
		width:100%;
		display: none;

		.bar {
			height: 20px;
			width: 56%;
			background-color: #20cc90;
		}

		span {
			font-size: 11px;
			line-height: 20px;
			position: absolute;
			display: block;
			padding: 0 10px;
			left:0px;
			width: 100%;
			text-align: center;
		}

	}

}

section.admin.info {

		width: 700px;
		margin-left: -350px;
		top: 50px;

		p {
			font-size: 14px;
			line-height: 24px;
			margin: 10px 0;
			padding-right: 10px;
		}

		&.hide {
			top: -700px;
		}

		.copyContainer {
			height: 300px;
			overflow-y: scroll;
		}

}



@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}

.loader.big {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px -50px;
}

.loader.small {
  width: 50px;
  height: 20px;
  margin: -10px -25px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.loader.big div {
	width: 20px;
	height: 20px;
	background: #FFF;
	border-radius: 50%;
	position: absolute;
}

.loader.small div {
	width: 10px;
	height: 10px;
	background: #ccc;
	border-radius: 50%;
	position: absolute;
}

.d1 { -webkit-animation: animate 2s linear infinite; }
.d2 { -webkit-animation: animate 2s linear infinite -.4s; }
.d3 {-webkit-animation: animate 2s linear infinite -.8s; }
.d4 { -webkit-animation: animate 2s linear infinite -1.2s; }
.d5 { -webkit-animation: animate 2s linear infinite -1.6s; }

.d1.small { -webkit-animation: animate_small 2s linear infinite; }
.d2.small { -webkit-animation: animate_small 2s linear infinite -.4s; }
.d3.small {-webkit-animation: animate_small 2s linear infinite -.8s; }
.d4.small { -webkit-animation: animate_small 2s linear infinite -1.2s; }
.d5.small { -webkit-animation: animate_small 2s linear infinite -1.6s; }

@-webkit-keyframes animate_small {
  0% { left: 50px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -10px; width: 10px; height: 10px;}
  90% { width: 20px; height: 7px; }
  95% { left: 50px; top: -10px; width: 10px; height: 10px;}
  100% { left: 50px; top:0; }
}

@-webkit-keyframes animate {
  0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }
}
