
section.columnContainer {
	position: relative;
	overflow-x: overlay;

	#template {
		display: none;
	}

	div.column {
		position: absolute;
		left:0;
		top:0px;
		z-index:2;
		border-right: solid 1px #a0a0a0;
		min-width:340px;
		box-sizing: border-box;
		background:white;
		box-shadow: 1px 0px 2px rgba(0,0,0,0.1);

		@include transition (left 300ms ease-out);

		&.wider {
			width: 500px;
		}


		div.colHeader {
			background: #f2f2f2;
			padding:20px;
			box-sizing: border-box;

			select {
				width: 150px;
			}

			select.wide {
				margin-left:3px;
				width: 169px;
			}

			select.big {
				display: block;
				border: none;
				background-color: #e3e3e3;
				width: 100%;
				font-weight: 700;
				margin-bottom:2px;
				font-size: 24px;
				line-height: 30px;
				text-transform: capitalize;
				height: 46px;
				background-position: 95% center;

				option {
					font-size: 14px;
					line-height: 20px;
				}
			}

			h4 {
				background-color: #e3e3e3;
				width: 100%;
				font-weight: 700;
				margin-bottom:2px;
				font-size: 24px;
				line-height: 30px;
				text-transform: capitalize;
				height: 46px;
				border-radius: 3px;
				padding: 7px 10px;
				box-sizing: border-box;
			}

			input {
				margin-bottom: 8px;
			}


			input[type="text"] {
				margin-left:3px;
				width:169px;
				box-sizing: border-box;
			}

			input[type="checkbox"] {
				background: white;
				border: solid 2px #9f9f9f;
				padding: 7px 10px;
				border-radius: 3px;
				outline: none;
			}

			.dateSelect  {
				display: inline-block;
			}

			.searchOptions {
				padding-top: 8px;
				max-width: 290px;
			}

			.additionalOptions {
				font-weight: 700;
				font-size: 11px;

				.year {
					width: 66px;
				}

				.month {
					width: 100px;
				}

				label {
					display: inline-block;
					width: 70px;
				}
			}

			a.searchMore {
				color: #20cc90;
				font-size: 14px;
			}

			a.button {
				display: inline-block;
				font-size: 14px;
				margin-left: 4px;
			}

			.closeButton {
				border-radius: 50%;
				border: solid 2px;
				overflow: hidden;
				color: #363636;
				display: block;
				position: absolute;
				right:10px;
				top:10px;
				width: 17px;
				height: 17px;
				font-size: 14px;
				cursor: pointer;
				background-color: white;

				&:hover {
					color: red;
				}

				i {
					line-height: 17px;
					padding-left: 3px;
				}
			}

			label {
				color: #707070;
			}

			h2 {
				font-weight: 700;
				margin-bottom:2px;
				font-size: 24px;
				line-height: 30px;
				text-transform: capitalize;
			}

			p {
				margin-bottom: 10px;
				padding-left: 8px;
				font-style: italic;

				span {
					display: block;
					font-size: 11px;
					line-height: 16px;
				}
			}

		}
	}

	div.searchOptionWidgets {
		display: none;
	}

	div.scrollContainer {
		overflow-y: overlay;
	}

	div.results {
		box-sizing: border-box;
		padding:20px 0px;


		div.resultContainer {
			position: relative;
			height: 36px;
			margin-top: 1px;
			cursor: pointer;
			color:#646464;

			&:hover {
				background: #f1f1f1;

				.arrow {
					color: #c1c1c1;
					display: inline-block;
				}
			}

			&.on {
				background: #e1e1e1;
				font-weight: 700;

				.bar {
					background:#19fcae;
				}

				.arrow {
					color:#646464;
					display: inline-block;
				}

			}

			&.dim {
				opacity: 0.3;
			}

			.title {
				font-size: 12px;
				line-height: 36px;
				padding: 0 30px;
				color:#646464;
				position: relative;
				z-index: 2;
				width: 245px;
				overflow:hidden;
				white-space: nowrap;

				i { 
					padding-right: 6px;
				}
			}

			.bar {
				position: absolute;
				left: 20px;
				top:0;
				z-index: 1;
				background:#c6ffeb;
				width: 100px;
				height:100%;
			}

			.tally {
				position: absolute;
				right:30px;
				width: 80px;
				text-align:right;
				font-size: 14px;
				color:#646464;
				line-height: 36px;
				z-index: 3;
			}

			.arrow {
				position: absolute;
				right:0px;
				width: 12px;
				top:0;
				display: none;
				font-size: 14px;
				line-height: 30px;
			}

			.loading {
				position: absolute;
				left:0px;
				width: 20px;
				line-height: 30px;
				z-index: 3;
				background: url('../images/loader.gif') no-repeat center center;
				height: 30px;
				top: 0;
				display: none;
			}
		}

		div.noresults {
			padding: 10px;
			background-color: #f0f0f0;
			border-radius: 3px;
			font-size: 12px;
			margin: 2px 20px;
			color: #363636;
			font-style: italic;
		}

		div.emailContainer {
			box-sizing: border-box;
			padding:0 20px;
			overflow: hidden;
			max-width: 500px;

			.subjectContainer {
				font-size: 20px;
				line-height: 28px;
				word-break:break-all;
			}

			.date {
				font-size: 11px;
				line-height: 20px;
				font-weight:300;
				font-style: italic;
				margin-bottom: 20px;
			}

			.contactContainer {
				label {
					display: inline-block;
					padding-right: 10px;
				}

				.contact {
					display: inline-block;
					padding: 6px 8px;
					background-color: #f0f0f0;
					border-radius: 3px;
					border: solid 1px #ddd;
					font-size: 12px;
					margin: 2px;

					&.found {
						border: solid 1px #20cc90;
						color: #20cc90;
						background-color: #363636;
					}

					a {
						display: inline-block;
						color: #20cc90;
						padding-right: 3px;
					}

					div {
						display: inline-block;
					}

					div.name {
						font-weight: 700;
					}

					div.email {
						margin-left: 3px;
					}
				}
			}

		}

	}

	a.showMore {
		display: block;
		width: 120px;
		height: 26px;
		line-height: 26px;
		padding: 5px 10px;
		border-radius: 3px;
		background: #20cc90;
		color:white;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 20px;

		&:hover {
			opacity: 0.5;
		}

		i {
			padding-right: 8px;
		}
	}

}