
header {

	//@include linear-gradient( to bottom, rgba(47,209,154,1), rgba(23,200,137,1) );
	@include linear-gradient( to bottom, rgba(64,64,64,1), rgba(34,34,34,1) );
	width: 100%;
	height: 80px;
	color:#20cc90;
	padding: 0 20px;
	position: relative;
	box-sizing: border-box;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);

	.plogo {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-color: white;
		border-radius: 50%;
		background-position: center center;
		background-repeat: no-repeat;
		vertical-align: middle;
		background-size: 70%;

		&.enron {
			background-image: url('../../images/app/enron.png');
		}

		&.bush {
			background-image: url('../../images/app/bush.png');
		}

	}

	h1 {
		text-transform: lowercase;
		font-size: 36px;
		line-height: 76px;
		font-weight: 300;
		display: inline-block;
		width: 100px;
		vertical-align: middle;
		margin-left: 14px;

		a {
			color:#20cc90;

			&:hover {
				opacity: 0.5;
			}
		}
	}

	.info {
		position: absolute;
		right:100px;
		top: 24px;
		color: white;
		font-size: 14px;

		a {

			i {
				padding-right: 8px;
			}
		}

		&.contact {
			right: 196px;
		}

	}

	.account {
		position: absolute;
		right:30px;
		top: 24px;
		color: white;
		font-size: 14px;
		display:none;

		a {

			i {
				padding-right: 8px;
			}
		}

	}

	.accountMenu {
		display: none;
	}

}