
header {

	//@include linear-gradient( to bottom, rgba(47,209,154,1), rgba(23,200,137,1) );
	@include linear-gradient( to bottom, rgba(64,64,64,1), rgba(34,34,34,1) );
	width: 100%;
	height: 80px;
	color:#20cc90;
	padding: 0 20px;
	position: relative;
	box-sizing: border-box;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);

	h1 {
		text-transform: lowercase;
		font-size: 36px;
		line-height: 76px;
		font-weight: 300;
	}

	.info {
		position: absolute;
		right:30px;
		top: 24px;
		color: white;
		font-size: 14px;

		a {

			i {
				padding-right: 8px;
			}
		}

	}

	.account {
		position: absolute;
		right:30px;
		top: 24px;
		color: white;
		font-size: 14px;
		display:none;

		a {

			i {
				padding-right: 8px;
			}
		}

	}

	.accountMenu {
		display: none;
	}

}