{% extends ajax ? "ajax.html" : "frame.html" %}

{% block content %}

<section class="landing pageNotFound">

	<div class="menu">
		<div class="logo pageNotFound">Chris Woods</div>

		<a href="/director" class="navLink" title="Director" id="navLandVideos" data-page="Videos">Director</a>
		<a href="/photographer" class="navLink" title="Photographer" id="navLandPhotos" data-page="Photos">Photographer</a>
		<a href="/contact" class="navLink contact" title="Contact" id="navLandContact" data-page="Contact">Contact</a>
	</div>

</section>


{% endblock content %}