		<nav class="gallery">
			<a href="javascript:;" class="thumbs navLink" id="navThumbs" data-page="" title="View Thumbnails">View Thumbnails</a>
			<a href="javascript:;" class="prev" title="Previous Image">Previous Image</a>
			<a href="javascript:;" class="next" title="Next Image">Next Image</a>
		</nav>

		<nav class="logo">
			<a href="javascript:;" class="navButton">Menu</a>

			<a href="/" class="navLink logo" id="navLanding" data-page="Landing">Chris Woods</a>
		</nav>

		<nav class="main">
			<a href="javascript:;" class="closeButton">Close Menu</a>
			<div class="drawer videos">
				<a href="/director" class="navLink" id="navVideos" data-page="Videos"><span>Director</span></a>
				<a href="/director/archive" class="navLink subLink" id="navVideosArchive" data-page="VideosArchive"><span>Archive</span></a>
			</div>
			<div class="drawer photos">
				<a href="/photographer" class="navLink" id="navPhotos"  data-page="Photos"><span>Photographer</span></a>
				<a href="/photographer/archive" class="navLink subLink" id="navPhotosArchive" data-page="PhotosArchive"><span>Archive</span></a>
			</div>
			<a href="/contact" class="navLink contact" id="navContact" data-page="Contact"><span>Contact</span></a>
		</nav>