
@import "../modules/colours";
@import "../modules/mixins";


body {
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
//	overflow:hidden;
	background: #e0e0e0;
	color: #363636;
	box-sizing: border-box;
}

strong {
	font-weight: bold;
}

a {
	color:white;
	text-decoration: none;
}


// Setup the MQ JS events, make sure these match your breakpoints.
#mediaQueryDetector {

	width:320px;

	@include respond-to(medium) {
		width:640px;
	}

	@include respond-to(large) {
		width:1024px;
	}

}

.noFlick {
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}

.siteContainer {

}

.contentContainer{
}

#pageContainer {
	overflow: hidden;
}

.responsive {
	max-width: 640px;
	margin:0 auto;

	@include respond-to(medium) {
		max-width:700px;
	}

	@include respond-to(large) {
		max-width:850px;
	}


}

label{
	display: block;
	font-size: 12px;
	line-height: 18px;
}

select {
	height: 32px;
	border: solid 2px #9f9f9f;
	@include appearance(none);
	background: white;
	padding: 7px 10px;
	margin-bottom:5px;
	border-radius: 3px;
	font-weight: 700;
	font-size: 11px;
	background: white url('../images/select_down.png' ) no-repeat 90% center ;
	outline: none;

	&:hover {
		border: solid 2px #20cc90;
	}
}

input[type='text'] {
	height: 32px;
	border: solid 2px #9f9f9f;
	background: white;
	padding: 0px 10px;
	margin-bottom:5px;
	border-radius: 3px;
	font-weight: 700;
	font-size: 11px;
	outline: none;

	&:hover {
		border: solid 2px #20cc90;
	}
}

a.button {
	display: block;
	padding: 5px 10px;
	border: solid 2px #464646;
	border-radius: 3px;
	background: #363636;

	&:hover {
		border: solid 2px #20cc90;
		background: #5f5f5f;
	}

	i {
		font-size: 18px;
		vertical-align: middle;
	}

	&.light {
		border-color: #9f9f9f;
		background: white;
		color: #363636;

		&:hover {
			background: #5f5f5f;
			border: solid 2px #20cc90;
			color: white;
		}

	}

}

#loader {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px -50px;
}
#loader div {
	width: 20px;
  height: 20px;
	background: #FFF;
  border-radius: 50%;
  position: absolute;

}

#d1 { -webkit-animation: animate 2s linear infinite; }
#d2 { -webkit-animation: animate 2s linear infinite -.4s; }
#d3 {-webkit-animation: animate 2s linear infinite -.8s; }
#d4 { -webkit-animation: animate 2s linear infinite -1.2s; }
#d5 { -webkit-animation: animate 2s linear infinite -1.6s; }

@-webkit-keyframes animate {
  0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }
}
