
nav.dates {

	background: #363636;
	color: white;
	padding: 16px 40px;

	.dateSelect {
		display: inline-block;
		width: 200px;

		label{
			display: block;
			font-size: 12px;
			line-height: 18px;
		}

		select {
			height: 28px;
			border: solid 1px #20cc90;
			@include appearance(none);
			background: white;
  			padding: 7px 10px;
  			margin-bottom:5px;
  			border-radius: 3px;
  			font-weight: 700;
  			font-size: 11px;
			background: white url('../images/select_down.png' ) no-repeat 90% center ;

  			&.month {
  				width: 100px;
  			}

  			&.year {
  				width: 66px;
  			}
		}
	}



}