
nav.dates {

	background: #363636;
	color: white;
	padding: 16px 20px;
	position: relative;

	.dateSelect {
		display: inline-block;
		width: 185px;

		select {

  			&.month {
  				width: 100px;
  			}

  			&.year {
  				width: 66px;
  			}
		}
	}

	.dateRefresh {
		display: inline-block;
		position: static;
	}

	.account {
		position: absolute;
		right:20px;
		top: 0px;
		color: white;
		font-size: 14px;

		a {
			margin-top: 28px;

			i {
				padding-right: 8px;
			}
		}

	}

	.accountMenu {
		display: none;
	}



}