
nav.dates {

	display:none;
	background: #363636;
	color: white;
	padding: 16px 20px;
	position: relative;

	.dateSelect {
		display: inline-block;
		width: 185px;

		select {

  			&.month {
  				width: 100px;
  			}

  			&.year {
  				width: 66px;
  			}
		}
	}

	.dateRefresh {
		display: inline-block;
		position: static;
	}





}